.root{
  display: flex;
  justify-content: center;
  align-items: center;
  height:40vh;
  width: 50%;
  margin-top: '15px';
}
.App {
  text-align: center;
  /* display: flex;
  flex-direction: column; */

  
  
  /* background: url('./images/bg.PNG') no-repeat ; */
  
  
}
